.form-square {
  .form-input {
    outline: none;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.form-square-icon {
  padding-left: 60px;
  position: relative;
  .form-icon {
    position: absolute;
    left: 20px;
    top: 15px;
  }
}
