// banner

.banner-carousel-item {
  height: 450px;
  .carousel-caption {
    @include media-breakpoint-down(md) {
      font-size: $font-size-sm;
    }
  }
}

// reserve

.reserve {
  background-image: url('https://images.unsplash.com/photo-1605291535126-2d71fea483c1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  .reserve-form {
    padding: 4rem 2rem;
  }

  .col-lg-7 {
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }
}

// special

.special img {
  height: 200px;
  width: 350px;
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    height: auto;
  }
}

// section

.section {
  margin-bottom: 4rem;
  .section-subtitle {
    margin-bottom: 1rem;
  }
  .section-title {
    margin: 1rem 0;
    font-weight: $font-weight-bold;
    letter-spacing: 1px;
  }
}
