// product category
.sticky-navbar {
  position: static;
  @include media-breakpoint-up(md) {
    position: sticky;
    top: 20px;
    z-index: 1020;
  }
}

// products

.product {
  cursor: pointer;
}

.card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  &:hover {
    box-shadow: 0px 10px 24px theme-color('secondary');
  }
}

.disabled {
  opacity: 0.7;
  pointer-events: none;
}

.not-allowed {
  cursor: not-allowed;
  button,
  a {
    cursor: not-allowed;
  }
}

// btn cart
.btn-cart {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

// faq

.FAQ-item {
  margin-bottom: 1rem;
  .FAQ-title {
    display: block;
    text-decoration: none;
    border: 1px solid $primary;
    color: $primary;
    background: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  .FAQ-body {
    padding: 15px;
  }
}
